<app-usaurio-box 
[nombre]="'Juan'" 
[primerApellido]="'Pérez'" 
[tiempoConexion]="'00:15:23'">
</app-usaurio-box>

<div class="zona-privada-grid">
    <a routerLink="/gestion-clientes-tienda" class="zona-card zona-pos-1" style="background-image: url('/zona_privada/clientes_tienda.png')">
        <span>Gestión de Clientes Tienda</span>
    </a>

    <a routerLink="/gestion-tienda" class="zona-card zona-pos-2" style="background-image: url('/zona_privada/gestion_tienda.png')">
        <span>Gestión de Tienda</span>
    </a>

    <a routerLink="/gestion-fabrica" class="zona-card zona-pos-3" style="background-image: url('/zona_privada/gestion_fabrica.png')">
        <span>Gestión de Fábrica</span>
    </a>

    <a routerLink="/gestion-clientes-fabrica" class="zona-card zona-pos-4 imagen-baja" style="background-image: url('/zona_privada/clientes_fabrica.png')">
        <span>Gestión de Proveedores</span>
    </a>

</div>

