.zona-privada-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
}

.zona-card {
    position: relative;
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1rem;
    
}

.zona-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* oscurece la imagen de fondo */
    z-index: 0;
}

.zona-card span {
    z-index: 1;
    padding: 0 1rem;
    text-align: center;
    font-family: "Jacques Francois Shadow", serif;
}

.zona-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.zona-pos-1 { grid-column: 1; grid-row: 1; }
.zona-pos-2 { grid-column: 2; grid-row: 2; }
.zona-pos-3 { grid-column: 3; grid-row: 1; }
.zona-pos-4 { grid-column: 1; grid-row: 2; }
.zona-pos-5 { grid-column: 3; grid-row: 2; }

.imagen-baja {
    background-position: center 20%; 
}

@media (max-width: 1024px) {
    .zona-card {
        font-family: "Jacques Francois Shadow", serif;
        position: relative;
        width: 200px;
        height: 180px;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}