<div #flipbook class="flipbook">
    <div class="page portada">Nuestras Instalaciones</div>
        <div class="page">
            <h4>Área de Recepción y Limpieza</h4>
            <p>Instalaciones: Zona techada con tolvas de descarga y cintas transportadoras.</p>
        
            <ul>
                Máquinas:
        
            <li>Cinta transportadora: mueve las aceitunas desde la tolva hasta las máquinas de limpieza.</li>

            <li>Despalilladora y sopladora: separan hojas y ramas.</li>

            <li>Lavadora rotativa: limpia el fruto con agua a presión.</li></ul>
            <img class="recepcion" src="/blog/recepcion.png" alt="recepcion">

            <h4>Sala de Molienda</h4>
            <p>Instalaciones: Espacio cerrado, higiénico y ventilado.</p>
        
            <ul>
                Máquinas:
        
            <li>Molino de martillos o piedra: tritura la aceituna completa para crear una pasta.</li>

            <li>Bomba de pasta: transporta la mezcla hacia los batidores.</li></ul>
            <img class="molienda" src="/blog/molienda.png" alt="recepcion">
        </div>
    <div class="page">
        <h4>Sala de Batido</h4>
        <p>Instalaciones: Zona techada con tolvas de descarga y cintas transportadoras.</p>
        
            <ul>
                Máquinas:
        
            <li>Batidoras horizontales de acero inoxidable: mezclan lentamente la pasta para ayudar a la agrupación de las gotas de aceite.</li></ul>
            <img class="recepcion" src="/blog/batido.png" alt="recepcion">

            <h4>Zona de Extracción</h4>
            <p>Instalaciones: Área estéril, con sistemas de drenaje y control de temperatura.</p>
        
            <ul>
                Máquinas:
        
            <li>Decanter centrífugo: separa el aceite del agua y sólidos por fuerza centrífuga.</li>
            
            <li>Centrífuga vertical (clarificadora): refina el aceite, eliminando impurezas restantes.</li></ul>
            <img class="molienda" src="/blog/extraccion.png" alt="recepcion">
    </div>
    <div class="page">
        <h4>Área de Almacenamiento</h4>
            <p>Instalaciones: Sala aislada, oscura y fresca para evitar oxidación.</p>
        
            <ul>
                Máquinas:
        
            <li>Depósitos de acero inoxidable con válvulas de fondo cónico: mantienen el aceite en reposo.</li>
            
            <li>Sistemas de inertización con nitrógeno: protegen el aceite del contacto con el oxígeno.</li></ul>
            <img class="recepcion" src="/blog/almacenamiento.png" alt="recepcion">

            <h4>Línea de Envasado</h4>
            <p>Instalaciones: Zona limpia, con pasillos delimitados y protección contra el polvo.</p>
        
            <ul>
                Máquinas:
        
            <li>Llenadora automática: dosifica el aceite en cada botella.</li>
            
            <li>Taponadora y etiquetadora: cierran y etiquetan los envases con alta precisión.</li></ul>
            <img class="molienda" src="/blog/envasado.png" alt="recepcion">
    </div>
</div>