<section class="bloqueVideo primeraSeccion">
  <video class="videoHombre"
    #scrollVideo
    src="/transforma/aceitunero.mp4"
    muted
    playsinline
    preload="auto"
    (loadedmetadata)="iniciarScrollVideo($event)"
  ></video>
  <div class="texto primero">
    <h2>El origen de todo</h2>
    <p>Cada historia auténtica tiene un comienzo sencillo.
    En nuestro caso, comienza bajo la luz suave del amanecer, entre ramas retorcidas de siglos de sabiduría. La recolección manual no es solo una técnica: es un ritual que conecta al agricultor con la tierra.</p>
    <p>Recolectamos nuestras aceitunas de manera tradicional, a mano y con el apoyo de sistemas naturales como el vareo suave y el uso de animales entrenados para colaborar en el campo.
    Cuidamos que cada fruto sea recogido en su punto justo de maduración, manteniendo intacta su pureza, sin golpes ni prisas. Porque el buen aceite nace en la paciencia.</p>
    <p>Nuestro compromiso empieza aquí: en el respeto por el ritmo natural de la tierra.
    Cada aceituna recolectada con cuidado es una promesa de calidad.
    Cuando consumes nuestro aceite, apoyas una forma de vida sostenible, rural, consciente y profundamente humana.</p>
  </div>
</section>


<section class="bloqueVideo segundaSeccion">
  <video class="almazara"
    #scrollVideo
    src="/transforma/fabrica.mp4"
    muted
    playsinline
    preload="auto"
    (loadedmetadata)="iniciarScrollVideo($event)"
    ></video>
  <div class="texto segundo">
    <h2>Del campo a la esencia</h2>
    <p>Lo que empezó en la tierra, toma forma en la almazara.
    Aquí, cada aceituna se convierte en algo más que un ingrediente: se convierte en esencia.
    En este punto, tradición y tecnología se dan la mano con un solo objetivo: obtener el mejor aceite posible, sin perder el alma.</p>
    <p>En nuestras instalaciones, las aceitunas pasan por un proceso de limpieza, molienda y extracción en frío.
    Controlamos cada etapa con precisión: la temperatura, el tiempo, la presión…
    Esto nos permite conservar intactos los aromas, nutrientes y propiedades antioxidantes del aceite de oliva virgen extra.</p>
    <p>Nuestro sistema productivo es eficiente, pero también ético: minimiza el impacto ambiental, evita el desperdicio y garantiza trazabilidad completa.
    No es solo aceite: es una obra de ingeniería natural, pensada para cuidar de ti y del planeta.
    Y sí, también sabe increíble.</p>
  </div>
</section>


<section class="bloqueVideo terceraSeccion">
  <video class="casa"
    #scrollVideo
    src="/transforma/familia_aceite.mp4"
    muted
    playsinline
    preload="auto"
    (loadedmetadata)="iniciarScrollVideo($event)"
  ></video>
  <div class="texto tercero">
    <h2>Donde todo cobra sentido</h2>
    <p>El aceite no se inventó para los chefs, sino para las familias.
    En la calidez del hogar, el aceite de oliva virgen extra encuentra su lugar natural: sobre una rebanada de pan, en una ensalada compartida, en una receta que pasa de generación en generación.
    Es ahí donde cobra sentido todo lo anterior.</p>
    <p>Nuestro aceite llega hasta tu cocina sin perder ni una gota de lo que lo hace especial.
    Envasado en cristal reciclable, con la máxima protección contra la luz y el oxígeno, garantizamos que cada uso sea una experiencia auténtica.
    Su color dorado, su aroma verde, su sabor equilibrado... no son casualidad. Son resultado de una cadena de cuidado que empezó mucho antes de abrir la botella.</p>
    <p>Porque cuando lo compartes en la mesa, no solo estás alimentando: estás transmitiendo cultura, valores, respeto y salud.
    Elegir nuestro aceite es elegir una forma de vivir más conectada, más consciente, más real.
    Desde el árbol hasta tu plato, el viaje ha sido largo. Pero cada gota vale la pena.</p>
  </div>
</section>
